/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --rgb-ghost: rgb(241, 243, 255);
  --rgb-fern: rgb(92, 184, 95);
  --rgb-egyptian: rgb(13, 40, 166);
  --rgb-silver: rgb(196, 196, 196);
}

/* Reset */

body {
  min-height: 100vh;
}

.r-photos {
  max-width: 75%;
}

.f-owl {
  font-size: 1vmax;
}

.rounded-owl {
  border-radius: 0.5rem;
}

.rounded-rental {
  border-radius: 1rem;
}

.rounded-faq {
  border-radius: 0.25rem;
}

.p-custom {
  padding: 0 2rem 0 2rem;
}

/* img {
  max-width: 100%;
} */

/* end Reset */



/* Background Color */

.bg-ghost {
  background-color: var(--rgb-ghost);
}

.bg-fern {
  background-color: var(--rgb-fern);
}

.bg-egyptian {
  background-color: var(--rgb-egyptian);
}

.owl-prev,
.owl-next {
  border: 1px solid var(--rgb-silver) !important;
  border-radius: 100% !important;
  height: 2rem;
  width: 2rem;
}

.owl-prev:hover,
.owl-next:hover {
  border: 0px !important;
  background-color: var(--rgb-fern) !important;
}

/* end Background Color */

/* Margin & Padding (rem) */

.p-owl {
  padding: 2rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-4rem {
  margin-bottom: 4rem;
}

.mb-8rem {
  margin-bottom: 4rem;
}

.pt-hero-nav {
  position: relative;
  padding-top: 70px;
}

/* end Margin (rem) */


/* Responsive Breakpoints */

/* MAX */

/* @media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

@media (max-width: 1599.98px) {} */

/* end MAX */

@media (min-width: 415px) and (max-width: 477.98px) {
  .f-owl {
    font-size: 1.25vmax;
  }
}

@media (min-width: 478px) and (max-width: 575.98px) {
  .f-owl {
    font-size: 1.5vmax;
  }
}

@media (min-width: 576px) and (max-width: 699.98px) {
  .f-owl {
    font-size: 2vmax;
  }
}

/* MIN */

@media (min-width: 576px) {
  .p-custom {
    padding: 0 4rem 0 4rem;
  }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  .p-owl {
    padding: 3rem;
  }
}

@media (min-width: 1200px) {
  .p-owl {
    padding: 4rem;
  }
}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {
  .p-owl {
    padding: 4rem 8rem;
  }

  .p-custom {
    padding-left: 10rem;
  }
}

/* end MIN */

/* end Responsive Breakpoints */